<table>
<thead>
<tr>
<th>Product name</th>
<th>Description</th>
<th>Price</th>
<th>Quantity</th>
<th>Category</th>
<th>Image</th>
  </tr>
  </thead>

    <tbody>
      <tr>
      </tr>
  </tbody>
</table>