<h1>Welcome to Cotton Road!</h1>
<h2>About us</h2>
<p>Cotton Road was designed for the individuals who simply cannot move or get up, even if their life depended on it. We at Cotton Road understand these individuals as 100% of our proceeds go to our pockets.</p>
